In [1]:
#ライブラリ
import pandas as pd
#少数第3位まで表示
%precision 3

'%.3f'

In [2]:
cd ./data

C:\Users\kenshin\Documents\DS\SSDSE-2020\data

In [3]:
data_a = pd.read_csv("SSDSE-2020A.csv", encoding="shift-jis", header=2)

In [4]:
data_a.head()

,地域コード,都道府県,市区町村,総人口,総人口（男）,総人口（女）,日本人人口,日本人人口（男）,日本人人口（女）,15歳未満人口,...,飲食店数,大型小売店数,一般病院数,一般診療所数,歯科診療所数,医師数,歯科医師数,薬剤師数,保育所等数,保育所等在所児数
0,R01100,北海道,札幌市,1952356,910614,1041742,1937785,903535,1034250,221013,...,8502,355,178,1351,1229,6614,2113,5398,287,26613
1,R01202,北海道,函館市,265979,120376,145603,264537,119819,144718,27131,...,1749,41,28,210,129,801,183,680,49,3524
2,R01203,北海道,小樽市,121924,54985,66939,121415,54722,66693,11171,...,778,17,12,83,78,322,102,326,22,1370
3,R01204,北海道,旭川市,339605,156402,183203,335678,154716,180962,37173,...,1743,65,36,240,175,1339,254,867,67,5715
4,R01205,北海道,室蘭市,88564,43143,45421,88203,42935,45268,9185,...,621,11,6,55,44,272,63,196,10,1039

In [5]:
#すべてのカラム情報
data_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Columns: 128 entries, 地域コード to 保育所等在所児数
dtypes: float64(2), int64(123), object(3)
memory usage: 1.7+ MB

In [6]:
#----検証1.人口が10,000人未満の市区町村はいくつあるのか.----
data_a1=data_a[data_a["総人口"]<10000]
data_a1[["市区町村","総人口"]]

      市区町村   総人口
8      夕張市  8843
21     三笠市  9076
26    歌志内市  3585
36    新篠津村  3329
37     松前町  7337
...    ...   ...
1735  伊是名村  1517
1736  久米島町  7755
1738  多良間村  1194
1739   竹富町  3998
1740  与那国町  1843

[512 rows x 2 columns]

In [7]:
len(data_a1)
#----終了----

512

In [8]:
#----検証2.人口が10,000人未満の市区町村は，中国5県（鳥取，島根，山口，広島，岡山）において合計いくつあるのか.----
data_a2 = data_a[(data_a["総人口"]<10000) & (data_a["都道府県"].isin(["鳥取県","島根県","山口県","広島県","岡山県"]))]
data_a2[["都道府県","市区町村","総人口"]]

     都道府県   市区町村   総人口
1270  鳥取県    若桜町  3269
1271  鳥取県    智頭町  7154
1273  鳥取県    三朝町  6490
1277  鳥取県   日吉津村  3439
1281  鳥取県    日南町  4765
1282  鳥取県    日野町  3278
1283  鳥取県    江府町  3004
1293  島根県    飯南町  5031
1294  島根県    川本町  3442
1295  島根県    美郷町  4900
1297  島根県   津和野町  7653
1298  島根県    吉賀町  6374
1299  島根県    海士町  2353
1300  島根県   西ノ島町  3027
1301  島根県    知夫村   615
1322  岡山県    新庄村   866
1325  岡山県    奈義町  5906
1326  岡山県   西粟倉村  1472
1327  岡山県   久米南町  4907
1348  広島県  安芸太田町  6472
1350  広島県  大崎上島町  7992
1352  広島県  神石高原町  9217
1367  山口県    和木町  6285
1368  山口県    上関町  2803
1371  山口県    阿武町  3463

In [9]:
len(data_a2)
#----終了----

25

In [10]:
#----検証3.中学校数が一つしかない市区町村はいくつあるのか.----
data_a3 = data_a[(data_a["中学校数"]==1)]
data_a3[["都道府県","市区町村","中学校数"]]

     都道府県  市区町村  中学校数
8     北海道   夕張市     1
17    北海道   赤平市     1
26    北海道  歌志内市     1
36    北海道  新篠津村     1
37    北海道   松前町     1
...   ...   ...   ...
1731  沖縄県  渡名喜村     1
1732  沖縄県  南大東村     1
1733  沖縄県  北大東村     1
1735  沖縄県  伊是名村     1
1738  沖縄県  多良間村     1

[539 rows x 3 columns]

In [11]:
len(data_a3)
#----終了----

539

In [12]:
#----検証4.小学校も中学校もそれぞれ一つしかない市区町村はいくつあるのか.----
data_a4 = data_a[(data_a["小学校数"] == 1) & (data_a["中学校数"] == 1)]
data_a4[["都道府県","市区町村","小学校数","中学校数"]]

     都道府県  市区町村  小学校数  中学校数
8     北海道   夕張市     1     1
26    北海道  歌志内市     1     1
36    北海道  新篠津村     1     1
40    北海道  木古内町     1     1
42    北海道   鹿部町     1     1
...   ...   ...   ...   ...
1731  沖縄県  渡名喜村     1     1
1732  沖縄県  南大東村     1     1
1733  沖縄県  北大東村     1     1
1735  沖縄県  伊是名村     1     1
1738  沖縄県  多良間村     1     1

[218 rows x 4 columns]

In [13]:
len(data_a4)
#----終了----

218

In [14]:
#----検証5.高校がない市区町村はいくつあるのか.----
data_a5 = data_a[data_a["高等学校数"]==0]
data_a5[["都道府県","市区町村","高等学校数"]]

     都道府県  市区町村  高等学校数
17    北海道   赤平市      0
26    北海道  歌志内市      0
36    北海道  新篠津村      0
40    北海道  木古内町      0
42    北海道   鹿部町      0
...   ...   ...    ...
1734  沖縄県  伊平屋村      0
1735  沖縄県  伊是名村      0
1738  沖縄県  多良間村      0
1739  沖縄県   竹富町      0
1740  沖縄県  与那国町      0

[446 rows x 3 columns]

In [15]:
len(data_a5)
#----終了----

446

In [16]:
#----検証6.全世帯に占める高齢単身世帯数（65歳以上の者１人）の割合が多い市区町村の上位3つとその割合はなんだろうか.----
data_a["全世帯に占める高齢単身世帯数の割合"] = data_a["高齢単身世帯数（65歳以上の者１人）"] / data_a["世帯数"] 
data_a6 = data_a.sort_values("全世帯に占める高齢単身世帯数の割合", ascending = False)
data_a6[["都道府県","市区町村","世帯数","高齢単身世帯数（65歳以上の者１人）","全世帯に占める高齢単身世帯数の割合"]]

     都道府県  市区町村   世帯数  高齢単身世帯数（65歳以上の者１人）  全世帯に占める高齢単身世帯数の割合
1452  高知県   大豊町  2050                 642           0.313171
1456  高知県  仁淀川町  2778                 865           0.311375
1368  山口県   上関町  1459                 454           0.311172
1233  奈良県   川上村   680                 209           0.307353
1231  奈良県  下北山村   517                 156           0.301741
...   ...   ...   ...                 ...                ...
405   福島県   飯舘村     1                   0           0.000000
398   福島県   富岡町     0                   0                NaN
400   福島県   大熊町     0                   0                NaN
401   福島県   双葉町     0                   0                NaN
402   福島県   浪江町     0                   0                NaN

[1741 rows x 5 columns]

In [17]:
data_a6[["都道府県","市区町村","世帯数","高齢単身世帯数（65歳以上の者１人）","全世帯に占める高齢単身世帯数の割合"]][0:3]
#----終了----

     都道府県  市区町村   世帯数  高齢単身世帯数（65歳以上の者１人）  全世帯に占める高齢単身世帯数の割合
1452  高知県   大豊町  2050                 642           0.313171
1456  高知県  仁淀川町  2778                 865           0.311375
1368  山口県   上関町  1459                 454           0.311172

In [18]:
#----検証7.人口が10番目，20番目，30番目に多い都道府県とその人口は何人だろう----
data_a7 = data_a.groupby("都道府県").sum()
data_a7_1 = data_a7.sort_values("総人口", ascending =False)

In [19]:
data_a7_1[["総人口"]][9:30]
#----終了----

          総人口
都道府県
静岡県   3700305
茨城県   2916976
広島県   2843990
京都府   2610353
宮城県   2333899
新潟県   2304264
長野県   2098804
岐阜県   2031903
栃木県   1974255
群馬県   1973115
岡山県   1921525
福島県   1914039
三重県   1815865
熊本県   1786170
鹿児島県  1648177
沖縄県   1433566
滋賀県   1412916
山口県   1404729
愛媛県   1385262
長崎県   1377187
奈良県   1364316

In [20]:
#----検証8.転出者数（日本人移動者）が多い都道府県の上位3つとその数はいくつだろう.----
data_a8 = data_a.groupby("都道府県").sum().reset_index()
data_a8_1 = data_a.sort_values("転出者数（日本人移動者）", ascending =False)

In [21]:
data_a8_1[["都道府県","転出者数（日本人移動者）"]][0:3] 
#----終了----

      都道府県  転出者数（日本人移動者）
689   神奈川県        175749
1112   大阪府        146620
984    愛知県        124566